/*pure*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block
}

audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1
}

audio:not([controls]){
	display:none;
	height:0
}

code{
	border: 1px dashed #3D4349;
	background: #fff;
	padding: 1px 3px;
	margin: 0;
	font-family: consolas,Courier,monospace,serif;
	font-size: 90%;
	white-space: pre-wrap;
	word-wrap: break-word;
}

[hidden]{
	display:none
}

html{
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

html,button,input,select,textarea{
	font-family:sans-serif
}

body{
	margin:0
}

a:focus{
	outline:thin dotted
}

a:active,a:hover{
	outline:0
}

h1{
	font-size:2em;
	margin:.67em 0
}

h2{
	font-size:1.5em;
	margin:.83em 0
}

h3{
	font-size:1.17em;
	margin:1em 0
}

h4{
	font-size:1em;
	margin:1.33em 0
}

h5{
	font-size:.83em;
	margin:1.67em 0
}

h6{
	font-size:.67em;
	margin:2.33em 0
}

abbr[title]{
	border-bottom:1px dotted
}

b,strong{
	font-weight:700
}

blockquote{
	margin:1em 40px
}

dfn{
	font-style:italic
}

hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}

mark{
	background:#ff0;
	color:#000
}

p,pre{
	margin:1em 0
}

q{
	quotes:none
}

q:before,q:after{
	content:'';
	content:none
}

small{
	font-size:80%
}

sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}

sup{
	top:-.5em
}

sub{
	bottom:-.25em
}

dd{
	margin:0 0 0 40px
}

menu,ol,ul{
	padding:0 0 0 40px
}

nav ul,nav ol{
	list-style:none;
	list-style-image:none
}

img{
	border:0;
	-ms-interpolation-mode:bicubic
}

svg:not(:root){
	overflow:hidden
}

figure{
	margin:0
}

form{
	margin:0
}

fieldset{
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}

legend{
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px
}

button,input,select,textarea{
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}

button,input{
	line-height:normal
}

button,select{
	text-transform:none
}

button,html input[type=button],input[type=reset],input[type=submit]{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible
}

button[disabled],html input[disabled]{
	cursor:default
}

input[type=checkbox],input[type=radio]{
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px
}

input[type=search]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}

textarea{
	overflow:auto;
	vertical-align:top
}

.pure-button{
	display:inline-block;
	*display:inline;
	zoom:1;
	line-height:normal;
	white-space:nowrap;
	vertical-align:baseline;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.pure-button::-moz-focus-inner{
	padding:0;
	border:0
}

.pure-button{
	font-size:100%;
	*font-size:90%;
	*overflow:visible;
	padding:.5em 1.5em;
	color:#444;
	color:rgba(0,0,0,.8);
	*color:#444;
	border:1px solid #999;
	border:0 rgba(0,0,0,0);
	background-color:#E6E6E6;
	text-decoration:none;
	border-radius:2px;
	-webkit-transition:.1s linear -webkit-box-shadow;
	-moz-transition:.1s linear -moz-box-shadow;
	-ms-transition:.1s linear box-shadow;
	-o-transition:.1s linear box-shadow;
	transition:.1s linear box-shadow
}

.pure-button-hover,.pure-button:hover,.pure-button:focus{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
	background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
	background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}

.pure-button:focus{
	outline:0
}

.pure-button-active,.pure-button:active{
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset
}

.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{
	border:0;
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter:alpha(opacity=40);
	-khtml-opacity:.4;
	-moz-opacity:.4;
	opacity:.4;
	cursor:not-allowed;
	box-shadow:none
}

.pure-button-hidden{
	display:none
}

.pure-button::-moz-focus-inner{
	padding:0;
	border:0
}

.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{
	background-color:#0078e7;
	color:#fff
}

.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form select,.pure-form textarea{
	padding:.5em .6em;
	display:inline-block;
	border:1px solid #ccc;
	font-size:.8em;
	box-shadow:inset 0 1px 3px #ddd;
	border-radius:4px;
	-webkit-transition:.3s linear border;
	-moz-transition:.3s linear border;
	-ms-transition:.3s linear border;
	-o-transition:.3s linear border;
	transition:.3s linear border;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.pure-form input[type=text]:focus,.pure-form input[type=password]:focus,.pure-form input[type=email]:focus,.pure-form input[type=url]:focus,.pure-form input[type=date]:focus,.pure-form input[type=month]:focus,.pure-form input[type=time]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=week]:focus,.pure-form input[type=number]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=color]:focus,.pure-form select:focus,.pure-form textarea:focus{
	outline:0;
	outline:thin dotted \9;
	border-color:#129FEA
}

.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus,.pure-form input[type=checkbox]:focus{
	outline:thin dotted #333;
	outline:1px auto #129FEA
}

.pure-form .pure-checkbox,.pure-form .pure-radio{
	margin:.5em 0;
	display:block
}

.pure-form input[type=text][disabled],.pure-form input[type=password][disabled],.pure-form input[type=email][disabled],.pure-form input[type=url][disabled],.pure-form input[type=date][disabled],.pure-form input[type=month][disabled],.pure-form input[type=time][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=week][disabled],.pure-form input[type=number][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=color][disabled],.pure-form select[disabled],.pure-form textarea[disabled]{
	cursor:not-allowed;
	background-color:#eaeded;
	color:#cad2d3
}

.pure-form input[readonly],.pure-form select[readonly],.pure-form textarea[readonly]{
	background:#eee;
	color:#777;
	border-color:#ccc
}

.pure-form input:focus:invalid,.pure-form textarea:focus:invalid,.pure-form select:focus:invalid{
	color:#b94a48;
	border:1px solid #ee5f5b
}

.pure-form input:focus:invalid:focus,.pure-form textarea:focus:invalid:focus,.pure-form select:focus:invalid:focus{
	border-color:#e9322d
}

.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus,.pure-form input[type=checkbox]:focus:invalid:focus{
	outline-color:#e9322d
}

.pure-form select{
	border:1px solid #ccc;
	background-color:#fff
}

.pure-form select[multiple]{
	height:auto
}

.pure-form label{
	margin:.5em 0 .2em;
	font-size:90%
}

.pure-form fieldset{
	margin:0;
	padding:.35em 0 .75em;
	border:0
}

.pure-form legend{
	display:block;
	width:100%;
	padding:.3em 0;
	margin-bottom:.3em;
	font-size:125%;
	color:#333;
	border-bottom:1px solid #e5e5e5
}

.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea{
	display:block;
	margin:.25em 0
}

.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle
}

.pure-form-aligned .pure-control-group{
	margin-bottom:.5em
}

.pure-form-aligned .pure-control-group label{
	text-align:right;
	display:inline-block;
	vertical-align:middle;
	width:10em;
	margin:0 1em 0 0
}

.pure-form-aligned .pure-controls{
	margin:1.5em 0 0 10em
}

.pure-form input.pure-input-rounded,.pure-form .pure-input-rounded{
	border-radius:2em;
	padding:.5em 1em
}

.pure-form .pure-group fieldset{
	margin-bottom:10px
}

.pure-form .pure-group input{
	display:block;
	padding:10px;
	margin:0;
	border-radius:0;
	position:relative;
	top:-1px
}

.pure-form .pure-group input:focus{
	z-index:2
}

.pure-form .pure-group input:first-child{
	top:1px;
	border-radius:4px 4px 0 0
}

.pure-form .pure-group input:last-child{
	top:-2px;
	border-radius:0 0 4px 4px
}

.pure-form .pure-group button{
	margin:.35em 0
}

.pure-form .pure-input-1{
	width:100%
}

.pure-form .pure-input-2-3{
	width:66%
}

.pure-form .pure-input-1-2{
	width:50%
}

.pure-form .pure-input-1-3{
	width:33%
}

.pure-form .pure-input-1-4{
	width:25%
}

.pure-form .pure-help-inline,.pure-form-message-inline{
	display:inline-block;
	padding-left:.3em;
	color:#666;
	vertical-align:middle;
	font-size:90%
}

.pure-form-message{
	display:block;
	color:#666;
	font-size:90%
}

@media only screen and (max-width :480px){
	.pure-form button[type=submit]{
		margin:.7em 0 0
	}

	.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form label{
		margin-bottom:.3em;
		display:block
	}

	.pure-group input[type=text],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color]{
		margin-bottom:0
	}

	.pure-form-aligned .pure-control-group label{
		margin-bottom:.3em;
		text-align:left;
		display:block;
		width:100%
	}

	.pure-form-aligned .pure-controls{
		margin:1.5em 0 0
	}

	.pure-form .pure-help-inline,.pure-form-message-inline,.pure-form-message{
		display:block;
		font-size:80%;
		padding:.2em 0 .8em
	}

}

.pure-g{
	letter-spacing:-.31em;
	*letter-spacing:normal;
	*word-spacing:-.43em;
	text-rendering:optimizespeed;
	font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	display:-ms-flexbox;
	-ms-flex-flow:row wrap
}

.opera-only :-o-prefocus,.pure-g{
	word-spacing:-.43em
}

.pure-u{
	display:inline-block;
	*display:inline;
	zoom:1;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto
}

.pure-g [class *="pure-u"]{
	font-family:sans-serif
}

.pure-u-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-5-24,.pure-u-7-24,.pure-u-11-24,.pure-u-13-24,.pure-u-17-24,.pure-u-19-24,.pure-u-23-24{
	display:inline-block;
	*display:inline;
	zoom:1;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto
}

.pure-u-1{
	width:100%
}

.pure-u-1-2{
	width:50%;
	*width:49.969%
}

.pure-u-1-3{
	width:33.3333%;
	*width:33.3023%
}

.pure-u-2-3{
	width:66.6667%;
	*width:66.6357%
}

.pure-u-1-4{
	width:25%;
	*width:24.969%
}

.pure-u-3-4{
	width:75%;
	*width:74.969%
}

.pure-u-1-5{
	width:20%;
	*width:19.969%
}

.pure-u-2-5{
	width:40%;
	*width:39.969%
}

.pure-u-3-5{
	width:60%;
	*width:59.969%
}

.pure-u-4-5{
	width:80%;
	*width:79.969%
}

.pure-u-1-6{
	width:16.6667%;
	*width:16.6357%
}

.pure-u-5-6{
	width:83.3333%;
	*width:83.3023%
}

.pure-u-1-8{
	width:12.5%;
	*width:12.469%
}

.pure-u-3-8{
	width:37.5%;
	*width:37.469%
}

.pure-u-5-8{
	width:62.5%;
	*width:62.469%
}

.pure-u-7-8{
	width:87.5%;
	*width:87.469%
}

.pure-u-1-12{
	width:8.3333%;
	*width:8.3023%
}

.pure-u-5-12{
	width:41.6667%;
	*width:41.6357%
}

.pure-u-7-12{
	width:58.3333%;
	*width:58.3023%
}

.pure-u-11-12{
	width:91.6667%;
	*width:91.6357%
}

.pure-u-1-24{
	width:4.1667%;
	*width:4.1357%
}

.pure-u-5-24{
	width:20.8333%;
	*width:20.8023%
}

.pure-u-7-24{
	width:29.1667%;
	*width:29.1357%
}

.pure-u-11-24{
	width:45.8333%;
	*width:45.8023%
}

.pure-u-13-24{
	width:54.1667%;
	*width:54.1357%
}

.pure-u-17-24{
	width:70.8333%;
	*width:70.8023%
}

.pure-u-19-24{
	width:79.1667%;
	*width:79.1357%
}

.pure-u-23-24{
	width:95.8333%;
	*width:95.8023%
}

.pure-g-r{
	*word-spacing:-.43em;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	display:-ms-flexbox;
	-ms-flex-flow:row wrap
}

.opera-only :-o-prefocus,.pure-g-r{
	word-spacing:-.43em
}

.pure-g-r img{
	max-width:100%;
	height:auto
}

@media (min-width:980px){
	.pure-visible-phone{
		display:none
	}

	.pure-visible-tablet{
		display:none
	}

	.pure-hidden-desktop{
		display:none
	}

}

@media (max-width:480px){
	.pure-g-r>.pure-u,.pure-g-r>[class *="pure-u-"]{
		width:100%
	}
    pre{
		width: 100%;
	}
}

@media (max-width:767px){
	.pure-g-r>.pure-u,.pure-g-r>[class *="pure-u-"]{
		width:100%
	}
      pre{
		width: 100%;
	}
	.pure-hidden-phone{
		display:none
	}

	.pure-visible-desktop{
		display:none
	}

}

@media (min-width:768px) and (max-width:979px){
	.pure-hidden-tablet{
		display:none
	}

	.pure-visible-desktop{
		display:none
	}

}

.pure-menu ul{
	position:absolute;
	visibility:hidden
}

.pure-menu.pure-menu-open{
	visibility:visible;
	z-index:2;
	width:100%
}

.pure-menu ul{
	left:-10000px;
	list-style:none;
	margin:0;
	padding:0;
	top:-10000px;
	z-index:1
}

.pure-menu>ul{
	position:relative
}

.pure-menu-open>ul{
	left:0;
	top:0;
	visibility:visible
}

.pure-menu-open>ul:focus{
	outline:0
}

.pure-menu li{
	position:relative
}

.pure-menu a,.pure-menu .pure-menu-heading{
	display:block;
	color:inherit;
	line-height:1.5em;
	padding:5px 20px;
	text-decoration:none;
	white-space:nowrap
}

.pure-menu.pure-menu-horizontal>.pure-menu-heading{
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:0;
	vertical-align:middle
}

.pure-menu.pure-menu-horizontal>ul{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	height:2.4em
}

.pure-menu li a{
	padding:5px 20px
}

.pure-menu-can-have-children>.pure-menu-label:after{
	content:'\25B8';
	float:right;
	font-family:'Lucida Grande','Lucida Sans Unicode','DejaVu Sans',sans-serif;
	margin-right:-20px;
	margin-top:-1px
}

.pure-menu-can-have-children>.pure-menu-label{
	padding-right:30px
}

.pure-menu-separator{
	background-color:#dfdfdf;
	display:block;
	height:1px;
	font-size:0;
	margin:7px 2px;
	overflow:hidden
}

.pure-menu-hidden{
	display:none
}

.pure-menu-fixed{
	position:fixed;
	top:0;
	left:0;
	width:100%
}

.pure-menu-horizontal li{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle
}

.pure-menu-horizontal li li{
	display:block
}

.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label:after{
	content:"\25BE"
}

.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label{
	padding-right:30px
}

.pure-menu-horizontal li.pure-menu-separator{
	height:50%;
	width:1px;
	margin:0 7px
}

.pure-menu-horizontal li li.pure-menu-separator{
	height:1px;
	width:auto;
	margin:7px 2px
}

.pure-menu.pure-menu-open,.pure-menu.pure-menu-horizontal li .pure-menu-children{
	background:#fff;
	border:1px solid #b7b7b7
}

.pure-menu.pure-menu-horizontal,.pure-menu.pure-menu-horizontal .pure-menu-heading{
	border:0
}

.pure-menu a{
	border:1px solid transparent;
	border-left:0;
	border-right:0
}

.pure-menu a,.pure-menu .pure-menu-can-have-children>li:after{
	color:#777
}

.pure-menu .pure-menu-can-have-children>li:hover:after{
	color:#fff
}

.pure-menu .pure-menu-open{
	background:#dedede
}

.pure-menu li a:hover,.pure-menu li a:focus{
	background:#eee
}

.pure-menu li.pure-menu-disabled a:hover,.pure-menu li.pure-menu-disabled a:focus{
	background:#fff;
	color:#bfbfbf
}

.pure-menu .pure-menu-disabled>a{
	background-image:none;
	border-color:transparent;
	cursor:default
}

.pure-menu .pure-menu-disabled>a,.pure-menu .pure-menu-can-have-children.pure-menu-disabled>a:after{
	color:#bfbfbf
}

.pure-menu .pure-menu-heading{
	color:#565d64;
	text-transform:uppercase;
	font-size:90%;
	margin-top:.5em;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#dfdfdf
}

.pure-menu .pure-menu-selected a{
	color:#000
}

.pure-menu.pure-menu-open.pure-menu-fixed{
	border:0;
	border-bottom:1px solid #b7b7b7
}

.pure-paginator{
	letter-spacing:-.31em;
	*letter-spacing:normal;
	*word-spacing:-.43em;
	text-rendering:optimizespeed;
	list-style:none;
	margin:0;
	padding:0
}

.opera-only :-o-prefocus,.pure-paginator{
	word-spacing:-.43em
}

.pure-paginator li{
	display:inline-block;
	*display:inline;
	zoom:1;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto
}

.pure-paginator .pure-button{
	border-radius:0;
	padding:.8em 1.4em;
	vertical-align:top;
	height:1.1em
}

.pure-paginator .pure-button:focus,.pure-paginator .pure-button:active{
	outline-style:none
}

.pure-paginator .prev,.pure-paginator .next{
	color:#C0C1C3;
	text-shadow:0 -1px 0 rgba(0,0,0,.45)
}

.pure-paginator .prev{
	border-radius:2px 0 0 2px
}

.pure-paginator .next{
	border-radius:0 2px 2px 0
}

@media (max-width:480px){
	.pure-menu-horizontal{
		width:100%
	}

	.pure-menu-children li{
		display:block;
		border-bottom:1px solid #000
	}

}

.pure-table{
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	border:1px solid #cbcbcb
}

.pure-table caption{
	color:#000;
	font:italic 85%/1 arial,sans-serif;
	padding:1em 0;
	text-align:center
}

.pure-table td,.pure-table th{
	border-left:1px solid #cbcbcb;
	border-width:0 0 0 1px;
	font-size:inherit;
	margin:0;
	overflow:visible;
	padding:6px 12px
}

.pure-table td:first-child,.pure-table th:first-child{
	border-left-width:0
}

.pure-table thead{
	background:#e0e0e0;
	color:#000;
	text-align:left;
	vertical-align:bottom
}

.pure-table td{
	background-color:transparent
}

.pure-table-odd td{
	background-color:#f2f2f2
}

.pure-table-striped tr:nth-child(2n-1) td{
	background-color:#f2f2f2
}

.pure-table-bordered td{
	border-bottom:1px solid #cbcbcb
}

.pure-table-bordered tbody>tr:last-child td,.pure-table-horizontal tbody>tr:last-child td{
	border-bottom-width:0
}

.pure-table-horizontal td,.pure-table-horizontal th{
	border-width:0 0 1px;
	border-bottom:1px solid #cbcbcb
}

.pure-table-horizontal tbody>tr:last-child td{
	border-bottom-width:0
}

/* Code.css
--------------------------------------------------*/
blockquote {
	border-left: 0.4em solid #DDD;
	color: #777;
	display: block;
	text-align: justify;
	border-left: 4px solid #eeeeee;
	margin: 1em 0;
	padding-left: 1.5em;
}

table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #dddddd;
	border-left: 0;
	margin: 1em 0;

}

td ul{
	padding-left: 20px;
}

.post_body h1{
	font-size: 23px;
}

.post_body h2{
	font-size: 20px;
	margin-left: 10px !important;
}

.post_body h3{
	font-size: 17px;
	margin-left: 20px;
}

.post_body h4{
	font-size: 15px;
	margin-left: 30px;
}

.post_body h1,.post_body h2,.post_body h3,.post_body h4{
	font-family: Comic Sans MS,"Microsoft Jhenghei";
	border-left:2px solid  #777;
	font-weight:normal;
	padding-left: 5px;
}

h2.title > a{
	display:block;
	white-space:nowrap;/*设置不折行*/
	text-overflow:ellipsis;/*这就是省略号喽*/
	overflow: hidden;/*设置超过的隐藏*/
}


hr {
	margin: 1em 0;
	border-top: 1px dotted #ddd;
	border-bottom: 0px dashed #fff;
}

b, strong {
	color:inherit!important;
	padding-left:2px;
	padding-right:2px;
}

th, td {
	border-left: 1px solid #dddddd;
	padding: 5px;
	line-height: 1.4;
	vertical-align: middle;
	border-top: 1px solid #dddddd;
}
th {
	text-align:center;
	font-family: "Microsoft Jhenghei","Hiragino Sans GB",Verdana,STSong,Simsun,Arial,Helvetica Neue,Helvetica,sans-serif;
}
.p_part {
	margin: 15px 0;
}

pre{
	border: 1px solid #e0e0e0;
	padding: 8px 13px;
	font-family: monospace,serif;
	text-shadow:none;
	line-height: 1.5em;
	display: inline-block;
	overflow: auto;
	background: #F8F8F8;
	letter-spacing: 0;
	font-size: 15px;
	overflow: auto;
	white-space: pre;
}

pre p {
	margin: 0;
}

pre br{
	display: none;
}

pre code{
	border:none;
	background: none;
	padding: 0;
	margin: 0;
	font-size: 100%;
}
p {
	margin-bottom: 5px !important;
	margin-top: 0px;
	word-wrap: break-word;
	font-size: 16px;
}

.p {
	margin-bottom: 1em;
}

/*pygments*/

table.codehilitetable{
	border:none;
	margin: 0;
}


.codehilitetable td{
	border: none;
	padding: 0;

}

#categories{
	/*处理chrome的问题*/
	font-family: Comic Sans MS,"Microsoft Jhenghei";
}

.codehilite table {
	margin: 0;
	width: auto; 
}

.codehilitetable tr th, .codehilitetable tr td {
	padding: 0;
}

.linenos pre {
	margin: 0; 
	padding: 9px;
}

.linenodiv pre{border-right:none;}

.codehilite code, .codehilite pre{word-break:break-word;color:#fdce93;background-color:#3f3f3f;padding:10px 15px;border-radius:3px;}
.codehilite .hll{background-color:#222;}
.codehilite .c{color:#7f9f7f;}
.codehilite .err{color:#e37170;background-color:#3d3535;}
.codehilite .g{color:#7f9f7f;}
.codehilite .k{color:#f0dfaf;}
.codehilite .l{color:#ccc;}
.codehilite .n{color:#dcdccc;}
.codehilite .o{color:#f0efd0;}
.codehilite .x{color:#ccc;}
.codehilite .p{color:#41706f;}
.codehilite .cm{color:#7f9f7f;}
.codehilite .cp{color:#7f9f7f;}
.codehilite .c1{color:#7f9f7f;}
.codehilite .cs{color:#cd0000;font-weight:bold;}
.codehilite .gd{color:#cd0000;}
.codehilite .ge{color:#ccc;font-style:italic;}
.codehilite .gr{color:red;}
.codehilite .gh{color:#dcdccc;font-weight:bold;}
.codehilite .gi{color:#00cd00;}
.codehilite .go{color:gray;}
.codehilite .gp{color:#dcdccc;font-weight:bold;}
.codehilite .gs{color:#ccc;font-weight:bold;}
.codehilite .gu{color:purple;font-weight:bold;}
.codehilite .gt{color:#0040D0;}
.codehilite .kc{color:#dca3a3;}
.codehilite .kd{color:#ffff86;}
.codehilite .kn{color:#dfaf8f;font-weight:bold;}
.codehilite .kp{color:#cdcf99;}
.codehilite .kr{color:#cdcd00;}
.codehilite .kt{color:#00cd00;}
.codehilite .ld{color:#cc9393;}
.codehilite .m{color:#8cd0d3;}
.codehilite .s{color:#cc9393;}
.codehilite .na{color:#9ac39f;}
.codehilite .nb{color:#efef8f;}
.codehilite .nc{color:#efef8f;}
.codehilite .no{color:#ccc;}
.codehilite .nd{color:#ccc;}
.codehilite .ni{color:#c28182;}
.codehilite .ne{color:#c3bf9f;font-weight:bold;}
.codehilite .nf{color:#efef8f;}
.codehilite .nl{color:#ccc;}
.codehilite .nn{color:#8fbede;}
.codehilite .nx{color:#ccc;}
.codehilite .py{color:#ccc;}
.codehilite .nt{color:#9ac39f;}
.codehilite .nv{color:#dcdccc;}
.codehilite .ow{color:#f0efd0;}
.codehilite .w{color:#ccc;}
.codehilite .mf{color:#8cd0d3;}
.codehilite .mh{color:#8cd0d3;}
.codehilite .mi{color:#8cd0d3;}
.codehilite .mo{color:#8cd0d3;}
.codehilite .sb{color:#cc9393;}
.codehilite .sc{color:#cc9393;}
.codehilite .sd{color:#cc9393;}
.codehilite .s2{color:#cc9393;}
.codehilite .se{color:#cc9393;}
.codehilite .sh{color:#cc9393;}
.codehilite .si{color:#cc9393;}
.codehilite .sx{color:#cc9393;}
.codehilite .sr{color:#cc9393;}
.codehilite .s1{color:#cc9393;}
.codehilite .ss{color:#cc9393;}
.codehilite .bp{color:#efef8f;}
.codehilite .vc{color:#efef8f;}
.codehilite .vg{color:#dcdccc;}
.codehilite .vi{color:#ffffc7;}
.codehilite .il{color:#8cd0d3;}

dl, menu, ol, ul{
	margin:0px;
}

menu, ol, ul {
	padding: 0px 0px 0px 30px;
}

.infobox {
	border: 1px solid #AAA;
	background-color: #F9F9F9;
	text-align: left;
	color: #000;
	margin: 0.5em 0px 0.5em 1em;
	padding: 0.2em;
	float: right;
	clear: right;
	text-align: left;
	line-height: 1.5em;
	font-size: 12px;
}

.infobox.bordered td, .infobox.bordered th {
	border: 1px solid #AAA;
}

#headbar {
	border-bottom: 1px dotted #DDD;
	padding-left: 10px;
}
.baro, .bar {
	display: block;
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
}
.bar {
	position: relative;
	vertical-align: top;
	display: inline-block;
}
.bar a{
	padding:7px;
	border-radius: 5px;
	font-size: 24px;
	line-height: 50px;
	color: #EFEFEF;
	display: block;
}
.toc ul{
	padding-top: 10px;
	padding-bottom: 10px;
}
.toc ul ul{
	padding-left: 25px !important;
	padding-top: 0px;
	padding-bottom: 0px;
}

.text-hide{
	color:#F6F6F6;
	text-shadow:none;
}

.text-hide a{color: #F6F6F6 !important;}

/*Lrc-Parser*/
.out pre{
	border-radius: 10px;
	text-align:center;
	background: #F5F5F5 none repeat scroll 0% 0%;
	font-size:1.5em;
	display: table !important;
	margin: 0 auto;
	vertical-align: middle;
}
#progressBar{
	border-radius: 10px;
	position: absolute;
	background:#3BB4F2;
	opacity:0.2; 
	box-shadow: 10px 10px 5px #888888;
}

.wikitable{
	font-size: 13px;
}

.select-btn{
	top: -4px;
	position: relative;
	left: 4px;
	font-size:11px !important;
	float: right;
	cursor:pointer;
}

/*圆角有序列表样式*/
ol{
    counter-reset: li; /* 初始化计数器 */
    list-style: none; /* 移除浏览器默认编号 */
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    padding-bottom: 10px;
    font-size: 14px;
}

ol ol{
	padding-bottom: 0px;
}

ol ol>li:first-of-type>p{
	margin-top: 0px !important;
}

ol ol>li:last-of-type>p{
	margin-bottom: 0px !important;
}

ol>li>p:first-of-type{
    position: relative;
    padding: .2em 1.3em;
    *padding: .4em;
    min-height: 31px;
    margin: .5em 0;
    color: #444;
    background:#eee;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;	
}

ol>li>p:first-of-type:hover:before{
    transform: rotate(360deg);	
}

ol>li>p:first-of-type:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

/*go-top*/
#go-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
#go-top>a{
  opacity:0.5;
  color:#444;
}